// Placeholders
%arrow {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

%cross-after {
  background-color: white;
  content: " ";
  height: 3px;
  left: 5px;
  margin-top: -2px;
  position: absolute;
  right: 5px;
  top: 50%;
}

%cross-before {
  background-color: white;
  bottom: 5px;
  content: " ";
  left: 50%;
  margin-left: -2px;
  position: absolute;
  top: 5px;
  width: 3px;
}

// Styles
.array-item-move-down {
  height: 30px;
  width: 30px;

  .glyphicon-arrow-down {
    @extend %arrow;

    transform: rotate(45deg);
  }
}

.array-item-move-up {
  height: 30px;
  width: 30px;

  .glyphicon-arrow-up {
    @extend %arrow;

    transform: rotate(-135deg);
  }
}

.array-item-remove {
  height: 30px;
  position: relative;
  width: 30px;
}

.array-item-remove::after {
  @extend %cross-before;

  background-color: black;
  transform: rotate(-45deg);
}

.array-item-remove::before {
  @extend %cross-before;

  background-color: black;
  transform: rotate(45deg);
}

.btn-add {
  background-color: gray;
  border-radius: 50%;
  height: 30px;
  position: relative;
  width: 30px;
}

.btn-add::after {
  @extend %cross-after;
}

.btn-add::before {
  @extend %cross-before;
}

.buttons-wrapper {
  display: flex;
  flex-direction: column;
}

.drop-zone {
  align-items: center;
  display: flex;
  height: 20px;
  width: 100%;
}

.drop-zone-divider {
  border-top: 3px solid #b4b4b4;
  width: 100%;
}

.drop-zone-divider-drag-over {
  border-top: none;
  width: 100%;
}

.drop-zone-drag-over {
  /* stylelint-disable-next-line scss/at-extend-no-missing-placeholder */
  @extend .drop-zone;

  border: 3px dashed #838383;
  height: 30px;
}

.verna-wrapper {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.widget-wrapper {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin: 5px 0 0 5px;
}

.widget-parameters-wrapper {
  background-color: #b9b9b9;
  border: solid 1px gray;
  display: flex;
  flex-direction: column;
  padding: 8px;
  width: 350px;

  .option-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}
